.footer {
    background: #1e3a8a;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
  }

  .footer h3{
    font-size: 0.75rem;
}

.footer p{
    font-size:0.75rem;
} 
  